<form>
    <nav class="navbar navbar-rounded navbar-expand-lg bg-primary">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link submit">
                            <p><i class="fa fa-check"></i> <%-lang.Save%></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="form-group">
        <label>
            <div><span><%-lang.Email%></span></div>
            <div><input class="form-control" type="email" name="mail" value="<%- $user.mail %>"></div>
        </label>
    </div>
    <!-- <div class="form-group">
        <label>
            <div><span><%-lang.Username%></span></div>
            <div><input class="form-control" type="text" name="pass"></div>
        </label>
    </div> -->
    <div class="form-group">
        <label>
            <div><span><%-lang.Password%></span></div>
            <div><input class="form-control" type="password" name="pass"></div>
        </label>
    </div>
    <div class="form-group">
        <label>
            <div><span><%-lang['Password Again']%></span></div>
            <div><input class="form-control" type="password" name="pass_again"></div>
        </label>
    </div>
</form>
<script src="<%-window.libURL%>libs/js/super.preferences.js" type="text/javascript"></script>
