<nav class="navbar navbar-rounded navbar-expand-lg bg-primary">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" system="deleteLogs">
                        <p><i class="fa fa-trash-o"></i> <%-lang['Delete']%> <%-lang['Logs']%></p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" restart="system">
                        <p><i class="fa fa-retweet"></i> <%-lang['Restart Core']%></p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" restart="cron">
                        <p><i class="fa fa-retweet"></i> <%-lang['Restart CRON']%></p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" restart="logs">
                        <p><i class="fa fa-retweet"></i> <%-lang['Flush PM2 Logs']%></p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div id="logs" style="height:400px;overflow:auto">
    <table class="table table-striped"></table>
</div>
<script src="<%-window.libURL%>libs/js/super.systemTab.js" type="text/javascript"></script>
